.container-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 85px;
}

.container-fone {
  background-color: #f5f5f5;
  width: 494px;
  border-radius: 20px;
  border: 1px solid #0000000f;
  padding: 53px 84px 53px 84px;
}

.tele-banner {
  width: 395px;
  height: 393px;
}

.container-sub-banner {
  width: 568px;
  height: 607px;
  border: 2px solid pink;
}

.linha-container {
  width: 568px;
  height: 165px;
  padding: 16px;
}

.badge2 {
  width: 124px;
  height: 33px;
  border-radius: 100px;
  margin: 6px 16px 6px 12px;
  padding: 4px;
  background-color: #f9fafb;
}
.badge2 .about-title {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #031b1d;
}

.about-title-main {
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
}

.mini-caixa {
  width: 531px;
  height: 134px;
  border-radius: 20px;
  margin: 24px 20px 24px 20px;
  padding: 22px;
  background-color: #f1ffd2;
}

.span-div {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.container-title3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #676666;
}

.mini-caixa2 {
  width: 530px;
  height: 134px;
  border-radius: 20px;
  margin: 24px 20px 24px 20px;
  padding: 22px;
  background-color: #e5e5e5;
  margin-top: -14px;
  border-top: 1px solid #e5e5e5;
}

.container-title2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container-title3 {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #6b6969;
}
