* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-position: fixed;
}

.navbar {
  max-width: 1140px;
  margin-inline: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 23px;
}

.nav-item a {
  text-decoration: none;
  color: #dcdcdc;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  padding: 1px;
  font-size: 13pt;
}
.nav-logo {
}

.nav-item {
}
.nav-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.btn-default {
  border: 1px solid #dcdcdc;
  width: 120px;
  height: 48px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  color: #dcdcdc;
  font-weight: 600;
}

.main-section {
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  margin-top: 76px;
}

.content-left {
  display: flex;
  flex-direction: column;

  gap: 40px;
}

.article2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.badge {
  width: 262px;
  height: 33px;
  border: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 6px 16px 6px 12px;
}

.paragrafo1-1 {
  color: #ffffff;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  width: 150%;
}

#caixa-bar1 .hero-title-h1 {
  color: #ffff;
  font-family: "Outfit", sans-serif;
  font-size: 64px;
}

.midle-title {
  color: #e2ff54;
}

.paragrafo2-1 {
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  color: #dcdcdc;
  margin-top: 12px;
}

.download-btn1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 185px; /* ajusta se quiseres */
  height: 49px;
  padding: 24px 32px 24px 24px;
  border: none;
  border-radius: 999px;
  background: #00b512; /* verde do botão */
  cursor: pointer;
  box-sizing: border-box;
}

.download-btn__text1 {
  white-space: nowrap;
  line-height: 1;
  margin-left: -1px;
  margin-top: -5px;
  font-size: 15pt;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  width: 18px;
  color: white;
}

.download-btn__icon1 {
  width: 55px;
  height: 55px;
  border-radius: 200px;
  background: #fbf9f1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 5.97px;
  position: relative;
  left: 70px;
}

.download-btn__icon1 svg {
  width: 22px;
  height: 22px;
  stroke: #344054;
  stroke-width: 2.1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.group-channel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 92px;
}

.channel-contact {
  max-width: 1140px;
  margin-inline: auto;
  width: 100%;
  background-color: #04684c;
  padding: 20px 24px 20px 24px;
  margin: 92px;
}
